body{
    text-align: center;
    top: 2rem;
    text-align: center;
    font-family: 'Chelsea Market';
}

#x{
    font-size: 1.8rem;
}

#temp{
   position: relative;
   top: 10;
   height: 40px;
   width: 30%;
   left: 35%;
   text-align: center;
}

#percent{
    height: 30px;
    padding-top: 20px;
}

.audio{
    margin-top: -50px;
}