body{
    text-align: center;
    position: relative;
    top: 2rem;
    text-align: center;
}

#x{
    font-size: 1.8rem;
}

#temp{
   position: relative;
   top: 10;
   height: 40px;
   width: 30%;
   left: 35%;
   text-align: center;
}

#percent{
    height: 40px;
    padding-top: 20px;
}

#gif{
    position: relative;
    top: 3rem;
}

#highscoreList {
    position: absolute;
    top: 15rem;
    right: 5rem;
}