.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-by-side >* {
  margin: 0 5px;
}

.bold {
  font-weight: bold;
}

.margin {
  margin: 20px;
}

#face2, #face1 {
  width: 150px;
}

.camera {
  position: relative;
  left: 0;
}

#startbutton1, #startbutton2{
  margin: 30px;
  background-color: transparent;
  padding: 10px 0 10px 0;
  border: none;
  border-bottom: solid #9e9e9e 1px;
  color: black;
} 

#output > img{
  margin-right: 56px;
}

#output, #output1{
  display: inline;
}


#outputs{
  width: 700px;
  margin: 1.2rem 0 3rem 0;
}

@media (max-width: 800px){
  *{
    display: none;
  }
}



